.relatorios-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.relatorios-filters select,
.relatorios-filters input {
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
  outline: none;
  border: 2px solid var(--barra-scroll);
  transition: border-color 0.3s ease;
  &:focus{
    border-color: var(--bordas-linhas-claras);
  }
}

.relatorios-clear-btn {
  background-color: var(--bordas-linhas-claras);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s;
  &:active{
    transform: scale(0.9);
  }
  &:hover{
    background-color: var(--button-escolhido-hover);
    transition: 0.3s ease
  }
}

.relatorios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

}

.relatorios-conteudo::-webkit-scrollbar {
  width: 6px;
}

.relatorios-conteudo::-webkit-scrollbar-thumb {
  background: var(--barra-scroll);
  border-radius: 10px;
}

.relatorios-card {
  background-color: var(--background-pages);
  border: 1px solid var(--barra-scroll);
  border-radius: 8px;
  margin: 0.5rem;
  box-shadow: 0 2px 4px var(--sombreado);
  padding: 15px;
  width: 100%;
  max-width: 300px;
  transition: transform 0.2s;
  cursor: pointer;
  height: max-content;
  &:hover{
    transform: translateY(-5px);
    background-color: var(--fundo-hover);
  }
  h3{
    margin-top: 0;

  }
  p{
    font-style: italic;
  }
}

.relatorios-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  font-size: 14px;
}

.relatorios-description.show {
  max-height: 200px;
  transition: max-height 0.5s ease-in-out;
}

.categoria {
  border-radius: 3rem;
  padding: 4px 7px 4px 7px;
}
.categoria-design {
  background-color: rgb(51, 88, 156);
  color: white;
}

.categoria-desenvolvimento {
  background-color: rgb(136, 135, 141);
  color: white;
}

.categoria-marketing {
  background-color: rgb(185, 124, 241);
  color: white;
}
.categoria-infraestrutura {
  background-color: rgb(219, 153, 66);
  color: white;
}

.prioridade{
  border-radius: 3rem;
  padding: 4px 7px 4px 7px;
}

.prioridade-low{
  color: white;
  background-color: #abed3a;
}
.prioridade-medium{
  color: white;
  background-color: #ed7c3a;
}
.prioridade-high{
  color: white;
  background-color: #ed3a51;
}

.relatorios-conteudo{
  overflow-x: auto;
  scroll-behavior: smooth; 
  height: calc(100vh - 8.5rem);
}

.relatorio-usuario{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--barra-scroll);
  border: 1px solid var(--bordas-linhas-claras);
  border-radius: 3rem;
  padding: 0px 0px 0px 5px;
  .user-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.relatorio-due-date{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--barra-scroll);
  border: 1px solid var(--bordas-linhas-claras);
  border-radius: 3rem;
  padding: 0px 5px 0px 5px;
  svg{
    width: 1.5rem;
  }
}
.container-categoria-e-prioridade{
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}
.container-due_date-usuario{
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
  margin: 0.6rem 0rem 0.6rem 0rem;
}

.notFoundYourTask-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
      margin: 0;
      padding: 0;
  width: 20rem;
  }
  div{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
          text-align: center;
          color: var(--button-escolhido);
      }
      p{
          text-align: center;
          color: var(--button-escolhido);
      }
  }
}

@media (width <= 768px) {
  .relatorios-conteudo{
    height: calc(100vh - 5.9rem);
  }
  .relatorios-filters{
    display: flex;
    select{
        width: auto;
        font-size: 10px;
      }
    input{
      font-size: 10px;
      width: auto;
    }
    button{
      font-size: 10px;
      width: auto;
    }
  }
  .relatorios-clear-btn {
    width: 50%;
  }
  .notFoundYourTask-conteudo{
    img{
        width: 15rem;
    }
  }
  .relatorio-usuario{
    strong{
      font-size: 12px;
      padding: 0px 0px 0px 3px;
    }
  }
  .relatorio-due-date{
    font-size: 12px;
    svg{
      width: 1rem;
    }
  }
  .prioridade{
    font-size: 12px;
  }
  .categoria{
    font-size: 12px;
  }
  .container-due_date-usuario{
    margin: 0.3rem 0rem 0.3rem 0rem;
  }
  .relatorios-card{
    h3{
      font-size: 16px;
    }
  }
  .relatorios-description {
    font-size: 12px;
  }
}
