header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a{
      width: min-content;
      border-radius: 100%;
      :hover{
        box-shadow: var(--sombreado) 0px 1px 2px, var(--sombreado) 0px 2px 4px, var(--sombreado) 0px 4px 8px, var(--sombreado) 0px 8px 16px, var(--sombreado) 0px 16px 32px, var(--sombreado) 0px 32px 64px;
        transition: 0.3s ease
      }
      img{
        border: 2px solid var(--bordas-linhas-claras);
        padding: 2px;
        border-radius: 100%;
        width: 5rem;
      }
    }
}
hr{
  border: 1px solid var(--bordas-linhas-claras);
  margin: 0.5rem 0rem 0rem 0rem;
}

@media (width <= 768px){
  header{
    h1{
      font-size: 23px;
    }
    a{
      img{
        border-radius: 100%;
        width: 2.5rem;
      }
    }
  }
}