.kanban-board {
    display: flex;
    gap: 16px;
    overflow: hidden;
    height: calc(100vh - 8.2rem);
  }
  
.kanban-column {
    background: rgba(255, 255, 255, 0.05);
    border-top: 1rem solid var(--button-escolhido);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 16px;
    margin-top: 1rem;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 6px var(--sombreado);
    overflow-y: auto;
    scroll-behavior: smooth;
    height: full;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--barra-scroll);
      border-radius: 10px;
    }
  }

  .list-kards{
    overflow-y: auto;
  }
  
  
  .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    h2{
      display: flex;
      align-items: center;
      span{
        border: 2px solid var(--barra-scroll);
        border-radius: 0.3rem;
        padding: 2px 4px 2px 4px;
        font-size: 14px;
        margin-left: 0.6rem;
        background-color: var(--background-pages);
      }
    }
  }
  
  .add-task-button {
    background-color: var(--background-pages);
    border: 2px solid var(--button-escolhido);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    &:hover{
      background-color: var(--fundo-hover);
      border-color: var(--button-escolhido-hover);
    }
    &:active{
      background-color: var(--barra-scroll);
    }
    &:hover svg {
      fill: var(--button-escolhido-hover);
    }
    svg{
      width: 60%;
      fill: var(--button-escolhido);
    }
  }
  
  .task-card {
    background-color: var(--background-pages);
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid var(--fundo-hover);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--sombreado);
    transition: background-color 0.3s ease;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 20%;
    &:hover{
        background-color: var(--barra-scroll);
        border-color: var(--bordas-linhas-claras);
    }
    &:active{
      background-color: var(--fundo-hover);
    }
    .user-photo{
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  .sugestoes-users{
    display: flex;
    align-items: center;
    &:hover{
      background-color: var(--barra-scroll);
    }
    
  }
  .user-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;    
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--barra-scroll);
    padding: 20px;
    border-radius: 8px;
    border-top: 1em solid var(--button-escolhido-hover);
    position: relative;
    height: 80vh;
    width: 50vh;
    overflow-x: auto;
    scroll-behavior: smooth;
    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: var(--svg-redes-sociais);
    }
    input, textarea, select{
      width: 80%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 4px;
      border: 2px solid var(--barra-scroll);
      font-style: italic;
      outline: none;
      transition: border-color 0.3s ease;
      &:focus{
      border-color: var(--button-escolhido);
      }
    }
    button {
      padding: 0.2em 0.2em;
      border-radius: 4px;
      cursor: pointer;
    }
  }

/* Início da Estilização do Modal de Editar */

/* Estilização Modal de exibição... */
.but {
  position: absolute; /* Permite que o aside se posicione em relação ao modal */
  top: 1rem; /* Distância do topo */
  right: 1rem; /* Distância da direita */
  display: flex;
  flex-direction: column; /* Alinha os botões em coluna */
  gap: 1em; /* Espaçamento entre os botões */
  border-radius: 8px; /* Adiciona cantos arredondados (opcional) */
}

.but button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  fill: var(--svg-redes-sociais);
  
}

.but .fechar:hover{
  fill: #635d5d;
}
.but .editar:hover{
  fill: var(--button-escolhido-hover);
}
.but .excluir{
  color: #000000;
  &:hover{
    color: #ed3a51;
}
}
.but .salvar:hover{
  fill: var(--button-escolhido-hover);
}
.but .voltar:hover{
  fill: var(--button-escolhido-hover);
}

.exibir {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  transform: scale(1);
  label{
    display: inline-block;
    width: 82%;
  }
  p{
    font-size: 0.9rem;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
  }
}

.edicao{
  opacity: 1;
  transition: transform 0.3s ease;
  transform: scale(0.95);
  input{
    background-color: azure;
    transition: background-color 0.3s ease;
  }
}

.criacao{
  display: block;
  float: right;
  font-size: 0.7rem;
  margin-right: 1rem;
  padding-top: 1rem;
}

@keyframes show {
  from{
    opacity: 0; scale: 10%;
  }
  to{
    opacity: 1; scale: 100%;
  }
}

@media(width <= 768px){
  .kanban-board{
    height: calc(100vh - 5.7rem);
    width: calc(100vw - 5rem);
    overflow-x: auto;
    scroll-behavior: smooth; 
  }
  .kanban-column{
    flex: 0 0 200px;
    }
  .column-header{
    h2{
      font-size: 17px;
    }
  }
  .modal-content {
    width: 70%;
  }
}
@media(768px <= width <= 1030px){
  .column-header{
    h2{
      font-size: 18px;
    }
  }
  .categoria, .prioridade{
    font-size: 11px;
  }
}