.equipes-conteudo{
  overflow-x: auto;
  scroll-behavior: smooth; 
  height: calc(100vh - 8.5rem);
}
.equipes-conteudo::-webkit-scrollbar {
  width: 6px; /* Largura da barra */
}

.equipes-conteudo::-webkit-scrollbar-thumb {
  background: #d8c4fa; /* Cor da parte rolável */
  border-radius: 10px; /* Arredondamento dos cantos */
}

.equipe-container {
    display: flex;
    flex-direction: column;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    &:hover{
      background-color: var(--fundo-hover);
    }
  }
  
  .usuario img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid var(--bordas-linhas-claras);
    padding: 2px;
    cursor: pointer;
  }
  
  .usuario-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 5px 0;
      a{
        text-decoration: none;
        color: var(--text-color);
        &:hover{
          color: rgb(85, 24, 141);
        }
      }
      span{
        font-weight: 700;
      }
    }
  }
  .equipes{
    overflow: hidden;
  }
  

@media (width <= 375px){
  .equipes-conteudo{
    height: calc(100vh - 5.9rem);
  }
  .usuario{
    img{
      width: 50px;
      height: 50px;
    }
  }
  .usuario-info {
    p{
      font-size: 12px;
      margin: 2px;
    }
  }
}
@media (376px <= width <= 768px){
  .equipes-conteudo{
    height: calc(100vh - 5.8rem);
  }
  .usuario{
    img{
      width: 70px;
      height: 70px;
    }
  }
  .usuario-info {
    p{
      font-size: 14px;
      margin: 2px;
    }
  }
}