*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Defina os temas com variáveis */
:root {
  --background-color: linear-gradient(90deg, #7C3AED 0%, #4d00d2 30%);
  --background-pages: #fff;
  --text-color: #000;
  --svg-redes-sociais: #32175f;
  --button-escolhido: #5729A6;
  --button-escolhido-hover: #7034d5;
  --bordas-linhas: #4a238e;
  --bordas-linhas-claras: #8e3aed;
  --fundo-hover: #F2EBFD;
  --barra-scroll: #d8c4fa;
  --sombreado: rgba(0, 0, 0, 0.1);
  --background-image: url(./assets/Relatorios/background-light.svg);
}

[data-theme='dark'] {
  --background-color: linear-gradient(90deg, #00000c 0%, #1b1b1b 70%);
  --background-pages: #1a1a24;
  --text-color: #fff;
  --svg-redes-sociais: #1b1b1b;
  --button-escolhido: #898989;
  --button-escolhido-hover: #434343;
  --bordas-linhas: #c2c2c2;
  --bordas-linhas-claras: #d6d6d6;
  --fundo-hover: #111117;
  --barra-scroll: #b3b3b6;
  --sombreado: rgba(255, 255, 255, 0.07);
  --background-image: url(./assets/Relatorios/fundoDark.svg);

}

[data-theme='daltonism'] {
  --background-color: linear-gradient(90deg, #0054A6 0%, #003783 47%);;
  --background-pages: #F7961F;
  --text-color: #00236a;
  --svg-redes-sociais: #00236a;
  --button-escolhido: #570c00;
  --button-escolhido-hover: #9a4800;
  --bordas-linhas: #4e0000;
  --bordas-linhas-claras: #003783;
  --fundo-hover: #f37354;
  --barra-scroll: #b3cce4;
  --sombreado: rgba(32, 32, 32, 0.09);
  --background-image: url(./assets/Relatorios/fundoDaltonism.svg);
}

body {
  color: var(--text-color);
  height: 100%;
}

h1 {
  color: var(--text-color);
}
label{
  color: var(--text-color)
}


.app {
  height: 100%;
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 1rem 3rem 0rem 3rem;
  margin-top: 1rem;
  background-image: var(--background-image);
  background-size: cover;
  background-color: white;
  border-radius: 20px 0 0 0;
  height: calc(100vh - 2.1rem);
}

@media (width <= 768px){
  .content{
    border-radius: 20px 20px 0 0;
    width: 0%;
    padding: 1rem 1rem 0rem 1rem;  
    height: calc(100vh - 2rem);
  }
}
