.ajustes-conteudo{
  overflow-x: auto;
  scroll-behavior: smooth; 
  height: calc(100vh - 9rem);
}
.user-info {
    display: flex;
    align-items: flex-start;
    gap: 1.2em;
  }

  .user-info button{
    background: none;
    border: none;
    float: right;
    color: #333;
    cursor: pointer;
    svg{
      color: var(--button-escolhido);
      transition: transform 0.5s, color 0.3s;
    }
    &:hover svg{
      color: var(--button-escolhido-hover);
      transform: scale(1.3);
    }
  }
  
  .image{
    border: 7px double var(--bordas-linhas-claras);
    border-radius: 0.5em;
    padding: 1em;
    width: 15rem;
    overflow: hidden; 
    position: relative;
  }

 .image img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
 }

 .input-container button{
    background: none;
    border: none;
    margin-left: 0.3em;
  }

  .input-container {
    position: relative;
    width: 100%;
    div:not(:last-child) {
      margin-bottom: 2em; 
   }
    [disabled]{
      background-color: var(--barra-scroll);
      border: 2px solid var(--bordas-linhas-claras);
    }
    input[type="email"]:invalid{
      border: 2px solid tomato;
      background: mistyrose;
    }
    input[type="email"]:valid{
      border: 2px solid limegreen;
      background-color: honeydew;
    }
    input::placeholder {
      font-style: italic;
      color: var(--barra-scroll);
      opacity: 0.7;
    }
    textarea::placeholder {
      font-style: italic;
      color: var(--barra-scroll);
      opacity: 0.7;
    }
  }

 .auto-expand {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
  }
  
  .floating-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--barra-scroll);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    &:focus{
      border-color: var(--background-color);
    }
  }
  .floating-label { 
    display: flex;
    font-size: 16px;
    margin: 0 0 0.3em 0.4em;
    button{
      cursor: pointer;
      svg{
        color: var(--button-escolhido);
        transition: transform 0.5s, color 0.3s;
      }
      &:hover svg{
        color: var(--button-escolhido-hover);
        transform: scale(1.3);
      }
    }

 }
 .btn-salvar {
    background-color: #aaa; 
    color: white; 
    border: none; 
    padding: 0.5em 0.6em; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 8px 2px;  
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s;
    margin-left: calc(100% - 4.5rem); 
    cursor: no-drop;
    &:disabled{
      cursor: no-drop;
    }
    &:enabled{
      cursor: pointer;
    }
}

.btn-salvar:active {
    transform: scale(0.95);
}


.footer-meu-perfil {
  padding: 0.7em;
  text-align: center;
  position: relative;
  bottom: 0;
  font-family: 'Arial', sans-serif;
}

/* Estilo da data de criação */
.footer-meu-perfil .creation-date {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
  border: none;
}

/* Estilo responsivo para telas menores */
@media (width <= 768px) {
  .ajustes-conteudo{
    height: calc(100vh - 5.9rem);
  }
  .user-info {
    flex-direction: column; /* Coloca a imagem e os inputs em formato de coluna */
    align-items: center; /* Centraliza o conteúdo */
}

.image {
    width: 50%; /* A imagem ocupa toda a largura disponível */
    max-width: 250px; /* Limite de tamanho para evitar imagens muito grandes */
    margin-bottom: 1.5em; /* Espaçamento entre imagem e formulário */
}

.input-container {
    width: 100%; /* Inputs ocupam toda a largura disponível */
}

.footer-meu-perfil {
    padding: 1em; /* Ajuste no padding */
}

.footer-meu-perfil .creation-date {
    font-size: 12px; /* Tamanho de texto reduzido para telas menores */
}
}


.rol{
  display: none;
}

.ajustes-container {
  position: relative; /* Para permitir o posicionamento absoluto */
}

.mensagem-sucesso {
  position: absolute; /* Para não afetar o layout dos outros elementos */
  right: 0.8em; /* Ajuste conforme necessário */
  bottom: 0.8em; /* Ajuste conforme necessário */
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Texto verde escuro */
  padding: 10px 20px; /* Espaçamento interno */
  border: 1px solid #c3e6cb; /* Borda verde */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 1rem; /* Tamanho da fonte */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
  transition: opacity 0.5s; /* Efeito de transição suave */
}